<div class='container'>
	<%= form_for @section do |f| %>

		<%= @section.errors.full_messages.to_sentence %>

		<p>
			<%= f.label :title %><br/>	
			<%= f.text_field :title, autofocus: true %>
		</p>

		<p>
			<%= f.label :summary %><br/>	
			<%= f.text_area :summary, :cols => "60", :rows => "10" %>
		</p>

		<p>
			<%= f.label :image_file_name %><br/>	
			<%= f.text_field :image_file_name, size: 30, placeholder: "GIF, JPG or PNG filename" %>
		</p>

		<p>
					
		</p>

	<% end %>
</div>